media/*
plex/*
.bash*
.profile*
.ssh*
.vim*
downloads/*
.gitconfig
*.log
.DS_Store
*.bak
STORAGE/*
MEDIA/*
flexget/cached_resources/*
flexget/.config-lock
*.sqlite
flexget/db-config-jobs.sqlite
flexget/db-config.sqlite
